* {
    margin: 0;
     text-align: center;
   
  
    
  
  }
  .heading{
      font-size: 40px;
  }
.Container{  
    background-image: url(bg.jpg);
    /* Full height */
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.display-container > .display{
    display: inline-block;
    box-shadow: 0 0 5px 8px rgb(0, 0, 0);
    display: inline-block;
    height: 50%;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 25px;
    text-shadow:1.3px 1.4px grey ;
    border-radius: 40px;

}
.title{
    font-size: 30px;
}
.INPUT{

    width: 40%;
    height: 40px;
    box-shadow: 6px 0px 0px 0px grey;
    border-radius: 20px;

}
.Button{
    height: 50px;
    width: 20%;
    cursor: pointer;
    color: white;
    background-color: black;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    
}
.Button:hover{
    background-color: white;
    color: black;
    font-size: 26px;
    height: 50px;
    width: 30%;
}
.cpr{
    color: grey ;
}